.code.icon{
    font-size: 2em;
}

.container.main{
    margin-top: 6.0em;
}

.title{
    margin-top: 2em;
}

.ui.segment{
    width: 65%;
    padding: 5%;
    margin: 7.0em auto;
}

.ui.secondary.button{
    position: absolute;
    top: 2%;
    right: 120px;
}

.ui.negative.button{
    position: absolute;
    top: 2%;
    right: 10px;
}
